.cookie-box > div {
    min-height: 7em;
    background: $gradient !important;
    transition: ease-in 1s;
    box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.4);
}
.cookie-box > div:hover {
    min-height: 10em;
    transition: ease-in 1s;
}
.cookie-box__button:hover{
    color: darken($color: $teal, $amount: 10%);
    background-color: white;
    border-color: white;
}