.header{
    background: $dark-blue;
    color: white;
}

.header__content{
    align-items: center;
    display:flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title{
    color: white;
    text-decoration:none;
    h1{
        margin:0;
        font-size:30px;
        font-weight:100;
    }
}
.header__help{
    color: white;
    text-decoration:none;
    font-size:16px;
    font-weight:100;
    padding: 0px $m-size;
}