.text-input{
    border: 1px solid #cacccd;
    height: 50px;
    font-weight: 100;
    padding: $s-size;
}
.search{
    width: 350px;
}

.select{
    @extend .text-input;
}

.textarea{
    @extend .text-input;
    height:10rem;
}